<div class="error-page">
    <h1>
        <%= title %>
    </h1>
    <p>
        <%= message %>
    </p>

    <% if (env==="development" ) { %>
        <pre><%= error.stack %></pre>
        <% } %>
</div>